@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Poppins&family=Ubuntu&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: black;
}
.nav-item {
  margin-right: 15px;
}
.card {
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 10px rgba(163, 155, 155, 0.35);
  border-radius: 10px;
}
/* visited link */
.btn:visited {
  background-color: green;
}
/* mouse over link */
.btn:hover {
  background-color: blue;
}
.card:hover {
  box-shadow: 5px 8px 20px rgba(163, 155, 155, 0.35);
  transform: scale(1.07);
  transition: all 1s ease;
  cursor: pointer;
}
.earth:hover {
  transform: scale(1.5);
  transition: all 1s ease;
}
.card img {
  width: 100%;
  height: 150px;
}
.card-body {
  height: 310px;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {


}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .card-body{
    height: 456px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
